<template name="home">
	<div class="wrap" style="margin: 80px 0;text-align: center;">
		<h1 style="font-size: 100px;line-height: 1;">Chess</h1>
		<p style="font-size: 24px;line-height: 1.25;">The best chess game</p>
		<button class="btn btn-large btn-success new">New game</button>
		<div>
			<img src="/chesspieces/wP.png" alt="Pawn - Chess" title="Chess">
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<p class="muted">
				Made with Meteor by <a href="https://twitter.com/_PandaJS" target="_blank">@_PandaJS</a>
			</p>
		</div>
	</div>
</template>